.portfolio-header-parent,
.portfolio-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.portfolio-page {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
}
.portfolio-header-parent {
  align-self: stretch;
  height: 778px;
  padding: 0 0 298px;
  box-sizing: border-box;
  text-align: center;
  font-size: 40px;
  color: #000;
  font-family: "Playfair Display";
}
.header,
.portfolio-header {
  display: flex;
  align-items: center;
}
.portfolio-header {
  align-self: stretch;
  overflow: hidden;
  flex-direction: column;
  padding: 15px 50px;
  z-index: 2;
  text-align: center;
  font-size: 32px;
  color: #000;
  font-family: "Bank Gothic Light";
}
.header {
  width: 100%;
  justify-content: space-between;
  gap: 20px;
  max-width: 100%;
}
.logo {
  height: 54px;
  width: 328px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.kailash-m-savlot,
.savlot-architects {
  margin: 0;
  align-self: stretch;
  height: 33px;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.05em;
  line-height: 102.72%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.kailash-m-savlot {
  height: 21px;
  font-size: 20px;
  text-align: left;
}
.menu-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 20px;
  width: 26px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 9px;
}
.menu-icon,
.menu-icon2 {
  width: 100%;
  height: 2px;
  position: relative;
  border-top: 2px solid #000;
  box-sizing: border-box;
}
.menu-icon2 {
  width: 19px;
}
.portfolio-heading {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 10px 50px 50px;
  z-index: 1;
}
.the-portfolio {
  position: relative;
  line-height: 63px;
}
.portfolio,
.the {
  font-weight: 800;
  line-height: 63px;
}
.portfolio {
  font-size: 64px;
  font-weight: 900;
  font-family: Geom;
}
.portfolio-filter-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.portfolio-filter {
  align-self: stretch;
  padding: 20px 50px;
  box-sizing: border-box;
  min-height: 96px;
  row-gap: 20px;
  max-width: 100%;
  z-index: 2;
  text-align: center;
  font-size: 20px;
  color: #000;
  font-family: "Host Grotesk";
}
.interior-wrapper,
.main-filter,
.portfolio-filter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-filter {
  border-right: 1px solid #000;
  box-sizing: border-box;
  padding: 10px 29px;
  gap: 37px;
  max-width: 100%;
}
.interior-wrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  border-bottom: 1px solid #000;
}
.interior-wrapper:hover {
  background-color: rgba(51, 51, 51, 0.09);
}
.interior {
  margin: 0;
  position: relative;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  font-family: "Host Grotesk";
  color: #000;
  text-align: center;
}
.architecture-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.architecture {
  margin: 0;
  width: 143px;
  position: relative;
  font-size: inherit;
  line-height: 30px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.sub-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  box-sizing: border-box;
  gap: 37px;
  max-width: 100%;
}
.commercial2 {
  width: 130px;
  display: inline-block;
  flex-shrink: 0;
}
.commercial2,
.retails {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 30px;
  font-weight: 600;
  font-family: inherit;
}
.portfolio-card-grid {
  align-self: stretch;
  height: 2672px;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
  align-content: start;
  column-gap: 25px;
  row-gap: 80px;
  padding: 80px 50px 200px;
  max-width: 100%;
}
.card01 {
  width: 430px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  grid-column: 1;
  grid-row: 1;
  text-align: center;
  font-size: 25px;
  color: #fff;
  font-family: Geom;
}
.content,
.content-parent {
  flex: 1;
  display: flex;
  max-width: 100%;
}
.content-parent {
  height: 538px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-image: url(./public/content-parent@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.content {
  align-self: stretch;
  background: linear-gradient(
    180deg,
    rgba(102, 102, 102, 0) 51.92%,
    rgba(0, 0, 0, 0.64)
  );
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 15px;
  box-sizing: border-box;
}
.bopal-2024,
.project-1 {
  position: relative;
  line-height: 129%;
  text-transform: uppercase;
}
.project-1 {
  margin: 0;
  font-size: inherit;
  font-weight: 900;
  font-family: inherit;
}
.bopal-2024 {
  font-size: 13px;
  font-family: "Host Grotesk";
  color: #e4e4e4;
}
.card02,
.content-parent2 {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.card02 {
  width: 430px;
  height: 538px;
  align-items: flex-start;
  grid-column: 2;
  grid-row: 1;
  text-align: center;
  font-size: 25px;
  color: #fff;
  font-family: Geom;
}
.content-parent2 {
  height: 286px;
  flex: 1;
  align-items: center;
  background-image: url(./public/content-parent1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.blank-card,
.card03 {
  width: 430px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.blank-card {
  height: 538px;
  grid-column: 3;
  grid-row: 1;
}
.card03 {
  max-width: 100%;
  grid-column: 1;
  grid-row: 2;
  text-align: center;
  font-size: 25px;
  color: #fff;
  font-family: Geom;
}
.content-parent3,
.content3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.content-parent3 {
  height: 538px;
  align-items: center;
  justify-content: center;
  background-image: url(./public/content-parent2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.content3 {
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(102, 102, 102, 0) 51.92%,
    rgba(0, 0, 0, 0.64)
  );
  align-items: flex-start;
  justify-content: flex-end;
  padding: 15px;
  box-sizing: border-box;
}
.blank-card2,
.card04 {
  width: 430px;
  height: 538px;
  align-items: flex-start;
  grid-row: 2;
}
.blank-card2 {
  display: flex;
  justify-content: center;
  grid-column: 2;
}
.card04 {
  grid-column: 3;
  text-align: center;
  font-size: 25px;
  color: #fff;
  font-family: Geom;
}
.card04,
.card05,
.content-parent4 {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.content-parent4 {
  height: 430px;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background-image: url(./public/content-parent3@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.card05 {
  width: 430px;
  height: 538px;
  align-items: flex-start;
  grid-column: 1;
  grid-row: 3;
  text-align: center;
  font-size: 25px;
  color: #fff;
  font-family: Geom;
}
.content-parent5 {
  height: 287px;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background-image: url(./public/content-parent4@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.card06,
.content-parent5,
.content-parent6 {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.card06 {
  width: 430px;
  height: 538px;
  align-items: flex-start;
  grid-column: 2;
  grid-row: 3;
  text-align: center;
  font-size: 25px;
  color: #fff;
  font-family: Geom;
}
.content-parent6 {
  height: 414px;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background-image: url(./public/content-parent5@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.blank-card3,
.blank-card4 {
  width: 430px;
  height: 538px;
  align-items: flex-start;
}
.blank-card3 {
  display: flex;
  justify-content: center;
  grid-column: 3;
  grid-row: 3;
}
.blank-card4 {
  grid-column: 1;
  grid-row: 4;
}
.blank-card4,
.card07,
.content-parent7 {
  display: flex;
  justify-content: center;
}
.card07 {
  width: 430px;
  align-items: flex-start;
  max-width: 100%;
  grid-column: 2;
  grid-row: 4;
  text-align: center;
  font-size: 25px;
  color: #fff;
  font-family: Geom;
}
.content-parent7 {
  height: 538px;
  flex: 1;
  flex-direction: column;
  background-image: url(./public/content-parent6@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.card08,
.content-parent7,
.content-parent8 {
  align-items: center;
  max-width: 100%;
}
.card08 {
  width: 430px;
  height: 538px;
  display: flex;
  flex-direction: column;
  grid-column: 3;
  grid-row: 4;
  text-align: center;
  font-size: 25px;
  color: #fff;
  font-family: Geom;
}
.content-parent8 {
  width: 100%;
  height: 287px;
  justify-content: center;
  background-image: url(./public/content-parent7@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.content-parent8,
.div,
.portfolio-footer {
  display: flex;
  flex-direction: column;
}
.portfolio-footer {
  align-self: stretch;
  height: 746px;
  background: var(--footer-bg);
  align-items: center;
  justify-content: center;
  padding: 36px 50px;
  box-sizing: border-box;
  z-index: 1;
  text-align: center;
  font-size: 32px;
  color: #fff;
  font-family: "Bank Gothic Light";
}
.div {
  align-items: flex-start;
  background-image: url(./public/div@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.div1,
.footer-content,
.logo2 {
  display: flex;
  justify-content: space-between;
}
.div1 {
  width: 1340px;
  align-items: center;
  gap: 20px;
}
.footer-content,
.logo2 {
  flex-direction: column;
}
.footer-content {
  height: 646px;
  width: 328px;
  align-items: flex-start;
  gap: 20px;
}
.logo2 {
  align-self: stretch;
  height: 54px;
  align-items: center;
  gap: 0;
}
.kailash-m-savlot2,
.savlot-architects2 {
  margin: 0;
  align-self: stretch;
  height: 33px;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.05em;
  line-height: 102.72%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.kailash-m-savlot2 {
  height: 21px;
  font-size: 20px;
}
.contacts {
  width: 310px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
  text-align: left;
  font-size: 17px;
  font-family: Geom;
}
.email {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.infosavlotplusarchitectscom {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
}
.social-media-links {
  display: flex;
  align-items: center;
  gap: 28px;
}
.insta-icon {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 30px;
  width: 30px;
  position: relative;
}
.footer-links,
.footer-links-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer-links-parent {
  width: 500px;
  gap: 282px;
  text-align: right;
  font-size: 17px;
  font-family: Geom;
}
.footer-links {
  width: 178px;
  gap: 32px;
}
.service {
  align-self: stretch;
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
}
.termsconditions {
  align-self: stretch;
  display: flex;
  align-items: center;
  gap: 30px;
  text-align: left;
}
@media screen and (max-width: 975px) {
  .portfolio-filter {
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 950px) {
  .portfolio-header-parent {
    padding-bottom: 194px;
    box-sizing: border-box;
  }
  .portfolio-header {
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
  }
  .the-portfolio {
    font-size: 32px;
    line-height: 50px;
  }
  .portfolio-filter {
    flex-wrap: wrap;
  }
  .portfolio-footer {
    padding: 23px 25px;
    box-sizing: border-box;
  }
  .savlot-architects2 {
    font-size: 26px;
    line-height: 26px;
  }
}
@media screen and (max-width: 700px) {
  .portfolio-heading {
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
  }
  .sub-filter {
    gap: 18px;
    flex-wrap: wrap;
  }
  .portfolio-footer {
    height: auto;
  }
  .footer-links-parent {
    gap: 141px;
  }
  .termsconditions {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .portfolio-header-parent {
    padding-bottom: 126px;
    box-sizing: border-box;
  }
  .the-portfolio {
    font-size: 24px;
    line-height: 38px;
  }
  .main-filter {
    gap: 18px;
    flex-wrap: wrap;
  }
  .architecture,
  .commercial2,
  .interior,
  .retails {
    font-size: 16px;
    line-height: 24px;
  }
  .project-1 {
    font-size: 20px;
    line-height: 26px;
  }
  .savlot-architects2 {
    font-size: 19px;
    line-height: 20px;
  }
  .kailash-m-savlot2 {
    font-size: 16px;
    line-height: 16px;
  }
  .footer-links-parent {
    gap: 70px;
  }
}
